.jumpingCss {
    position: relative;
    animation-name: jumpingCss;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    transition: transform 0.5s ease-in;
    display: inline-block;
    color: red;
}

@keyframes jumpingCss {
    0% {
        left: 0px;
        top: 0px;
    }
    10% {
        left: 0px;
        top: 0.1px;
    }
    30% {
        left: 0px;
        top: 0.5px;
    }
    50% {
        left: 0px;
        top: -10px;
    }
    70% {
        left: 0px;
        top: 0.5px;
    }
    90% {
        left: 0px;
        top: 0.1px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}
