.jumpingCss {
    position: relative;
    animation-name: jumpingCss;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    transition: all 4s ease-in;
    display: inline-block;
    animation-fill-mode: forwards;
    color: red;
}

@keyframes jumpingCss {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-3%);
    }
    /*  0% {
        left: 0px;
        top: 0px;
    }
    10% {
        left: 0px;
        top: -0.1px;
    }
    30% {
        left: 0px;
        top: -0.5px;
    }
    50% {
        left: 0px;
        top: -1px;
    }
    70% {
        left: 0px;
        top: -0.5px;
    }
    90% {
        left: 0px;
        top: -0.1px;
    }
    100% {
        left: 0px;
        top: 0px;
    }*/
}
